/*
 * Monitor
**/
.monitor {
  -fx-padding: 4pt;
  -fx-background-color: black;
}

.monitor-header {
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.monitor-text {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-font-size: 11pt;
  -fx-text-fill: white;
}
