/*
 * Monitor
**/
.main {
  -fx-padding: 8pt;
  -fx-background-color: black;
}

.header {
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.text {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-font-size: 11pt;
  -fx-text-fill: white;
}
